.border-bottom2{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px orangered;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.border-bottom-reservado{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px deepskyblue;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.light-grey{
    color: rgba(211, 211, 211, 0.45);
}

.border-bottom-reservas{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 8px 8px 8px 8px;
    border-left: solid 5px lawngreen;
    border-bottom: solid 1px rgba(204, 204, 204, 0.21);

}

body{
    margin: 0;
    padding: 0;
    border-top: solid 2px orangered;
}

.hidden {
    display: none;
}

.reservado {
    background-color: red;
    color: white;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.linha-borda{
    border: solid 2px grey;
}