.border-bottom2{
    border-left: solid 2px orangered;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.light-grey{
    color: rgba(211, 211, 211, 0.45);
}

.border-bottom-reservas{
    border-left: solid 2px lawngreen;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

body{
    border-top: solid 2px orangered;
}